USE [master]
GO
/****** Object:  Database [EvTec]    Script Date: 29/11/2021 08:33:10 a. m. ******/
CREATE DATABASE [EvTec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EvTec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EvTec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EvTec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EvTec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EvTec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EvTec]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 29/11/2021 08:33:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Usuario] [varchar](20) NOT NULL,
	[Contrasena] [varchar](256) NOT NULL,
	[Estatus] [bit] NOT NULL,
	[Sexo] [char](1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Correo], [Usuario], [Contrasena], [Estatus], [Sexo], [Fecha]) VALUES (3, N'teo@gmail.com', N'teoteo123', N'c6b257a8db07cad6036852b1ee9b050a561a5d014305422de7795e96534ae011', 0, N'M', CAST(N'2021-11-29T08:15:44.753' AS DateTime))
INSERT [dbo].[Usuario] ([Id], [Correo], [Usuario], [Contrasena], [Estatus], [Sexo], [Fecha]) VALUES (4, N'usuario2@gmail.com', N'usuario2', N'6e4deb5dc5b0478d279d31968aa12510d85fe394a6c67512631f4952809ffbdd', 1, N'F', CAST(N'2021-11-29T08:15:44.753' AS DateTime))
INSERT [dbo].[Usuario] ([Id], [Correo], [Usuario], [Contrasena], [Estatus], [Sexo], [Fecha]) VALUES (5, N'usuario3@gmail.com', N'usuario3@gmail.com', N'1b9781da3a6a8a829c40dde91cef72e8f71ea383bde7bd7ced14bd21faddd26b', 0, N'M', CAST(N'2021-11-29T08:17:13.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__60695A199342E339]    Script Date: 29/11/2021 08:33:11 a. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__E3237CF768773EA5]    Script Date: 29/11/2021 08:33:11 a. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
