
<h1>Cambiar contraseña</h1>

<form [formGroup]="passwordForm" (ngSubmit)="cambiarContra()">

  <div>
    <label>Anterior Contraseña</label>
    <input type="password" formControlName="contrasenaAntigua" class="form-control" [ngClass]="{ 'is-invalid': precionado && errorLlenado.contrasenaAntigua.errors }" />
    <div *ngIf="precionado && errorLlenado.contrasenaAntigua.errors" class="invalid-feedback">
      <div *ngIf="errorLlenado.contrasenaAntigua.errors.required">Campo contraseña antigua requerido</div>
    </div>
  </div>
  
  <div>
    <label>Nueva Contraseña</label>
    <input type="password" formControlName="nuevaContrasena" class="form-control" [ngClass]="{ 'is-invalid': precionado && errorLlenado.nuevaContrasena.errors }" />
    <div *ngIf="precionado && errorLlenado.nuevaContrasena.errors" class="invalid-feedback">
      <div *ngIf="errorLlenado.nuevaContrasena.errors.required">Campo nueva contraseña requerido (10 caracteres minimo, una mayúscula, minúscula, símbolo, numero)</div>
    </div>
  </div>

  <div>
  <label>Repetir contraseña</label>
    <input type="password" formControlName="rContrasena" class="form-control" [ngClass]="{ 'is-invalid': precionado && errorLlenado.rContrasena.errors || contIguales == false}" />
    <div *ngIf="precionado && errorLlenado.rContrasena.errors && contIguales == false" class="invalid-feedback">
      <div *ngIf="errorLlenado.rContrasena.errors.required || contIguales == false">Campo contraseña requerido</div>
      <div *ngIf="contIguales == false">Las contraseñas no coinciden</div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" style="margin:20px">Modificar contraseña</button>  
  <button class="btn btn-dark" type="button" style="margin:20px" [routerLink]="['/']">Regresar</button>

</form>
